@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --font-family:'Roboto', sans-serif;
    --cor-de-fundo: #FFFFD0;
    --cor-principal: #A555EC;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-principal);
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}


h1{
    font-size: 4em;
}

h2{
    font-size: 4em;
}

h3{
    font-size: 3em;
    margin-top: 20px;
}

.mensagem{
    font-size: 2em;
    margin-top: 40px;
}

.caixa{
    border: 2px solid var(--cor-principal);
    font-size: 3em;
    display: inline-block;
    padding: 20px;
    margin: 20px;
}

.botao__jogar{
    padding: 8px 15px;
    border: 0;
    background: var(--cor-principal) ;
    color: var(--cor-de-fundo);
    border-radius: 5px;
    margin-top: 20px;
    font-size: 0.75em;
}